"*":
  "atom-beautify":
    general:
      analytics: false
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    "atom-ide-outline-view":
      nameOnly: true
  "atom-package-deps":
    ignored: [
      "prettier-atom"
    ]
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "wrap-guide"
    ]
    packagesWithKeymapsDisabled: [
      "tool-bar"
    ]
    telemetryConsent: "no"
    themes: [
      "nucleus-dark-ui"
      "firewatch-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "{{ FONT }}"
    fontSize: 23
    invisibles:
      eol: false
      tab: false
    lineHeight: 1.75
    scrollPastEnd: true
    showIndentGuide: false
    showInvisibles: true
    showLineNumbers: false
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "hard"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "{{ USERID }}"
  "file-icons":
    coloured: false
    tabPaneIcon: false
  "flow-ide": {}
  "go-plus":
    autocomplete: {}
    config: {}
    format: {}
    panel:
      displayMode: "closed"
    test:
      coverageDisplayMode: "gutter"
  "ide-flowtype":
    tryFlowBin: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "minimap-plus": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      showInStatusBar: true
    prettierOptions:
      useTabs: true
    useEditorConfig: false
    useEslint: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
