# =============================
# Sass
# =============================
'.sass':
	'Media query':
		prefix: 'mquery'
		body: """
		@include mQuery($1) {
			${2:// code}
		}
		"""

# =============================
# JavaScript
# =============================
".js":
	"Log":
		prefix: "log"
		body: "console.log(${1})"
	"React stateful component":
		prefix: "reactcomponent"
		body: """
		class ${1:Component} extends React.Component {
			constructor(props) {
				super(props);
				this.state = {};
				bindMethods(this);
			}
			render() {
				const { children } = this.props;
				return (
					<div className="${1:Component}">
						<p>{children}</p>
					</div>
				);
			}
		}
		"""
	"React FSC component":
		prefix: "reactfsc"
		body: """
		const ${1:Component} = ({ children }) => (
			<div className="${1:Component}">
				<p>{children}</p>
			</div>
		);
		"""
	"React debug":
		prefix: "reactdebug"
		body: "<pre><code>{JSON.stringify(${1:this.state}, null, 4)}</code></pre>"
	"Prop types object":
		prefix: "proptypesobject"
		body: """
		${1:Component}.propTypes = {
			children: PropTypes.string.isRequired,
		};
		"""
	"Prop types method":
		prefix: "proptypesmethod"
		body: """
		static get propTypes() {
			return {${1}};
		}
		"""
	"Default props object":
		prefix: "defaultpropsobject"
		body: """
		${1:Component}.defaultProps = {
			children: PropTypes.string.isRequired,
		};
		"""
	"Default props method":
		prefix: "defaultpropsmethod"
		body: """
		static get defaultProps() {
			return {${1}};
		}
		"""

# =============================
# Any
# =============================
".source":
	"Comment header":
		prefix: "comment"
		body: """
		/*
		|--------------------------------------------------------------------------
		| ${1:Title}
		|--------------------------------------------------------------------------
		|
		| ${2:Comment here.}
		|
		*/
		"""
